CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_LVGL_TICK_PERIOD=5
CONFIG_LVGL_USE_LOG=y
CONFIG_LVGL_LOG_LEVEL_INFO=y
CONFIG_LVGL_MEM_POOL_SIZE=48
